.config/nvim/*
!.config/nvim/init.lua
!.config/nvim/after/
!.config/nvim/pack/
keys/*
!keys/.gitkeep

# Backup files
*.bak
*~
*.swp
*.swo

# OS-specific files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.log
*.cache